.galleries1{
	position: relative;
	margin-bottom: 10px;
  overflow: hidden;
  max-height: 308.88px;
}
.galleries2{
	position: relative;
	margin-bottom: 10px;
  overflow: hidden;
  max-height: 308.88px;
}
.galleries3{
	position: relative;
	margin-bottom: 10px;
  overflow: hidden;
  max-height: 308.88px;
}
.galleries4{
	position: relative;
	margin-bottom: 10px;
  overflow: hidden;
  max-height: 308.88px;
}


.galleries1 img{
	position: relative;
	width: auto;
	padding-right: 5px;
  padding-left: 5px;	
}
.galleries2 img{
	position: relative;
	width: auto;
	padding-right: 5px;
  padding-left: 5px;
}
.galleries3 img{
	position: relative;
	width: auto;
	padding-right: 5px;
  padding-left: 5px;
}
.galleries4 img{
	position: relative;
  max-height: 308.88px;
  padding-right: 5px;
  padding-left: 5px;
}
.galleriesmobile {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
a{
	position:relative;
}
a:hover .overlay {
  opacity: .7;
}
.hover-text{
  opacity: 1;
	color: white;
	left: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 1000px){
  .row{
    overflow:hidden;
  }
  .row img{
    width: 100%;
    max-width: 1000px;
  }
  #horizontal img{
    width: 200%;
    max-width: 1000px;
  }
}