---
custom_css: 
  loadingscreen
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body onload="showPage()" class="remove-padding">
    <div id="loader"></div>
    <div class="wrapper-mini">
      <div style="display:none;" id="page-content" class="fade-in">
        {% include header.html %}
        <div class="page-content">
            {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </div>
    <script src="/assets/js/loadingscreen.js" type="text/javascript"></script>
  </body>
</html>